* {
  box-sizing: border-box;
}
body {
  background: $background-color;
  min-height: 100vh;
  color: $text-color;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: $primary;
}
