@import "src/styles/variables.scss";

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div * {
    cursor: pointer;
    user-select: none;
    transition: transform 200ms, filter 200ms;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  div {
    padding: 1em 1em 1em 0;
    outline: none;
    p {
      text-align: center;
    }
    &:hover,
    &:focus {
      p {
        color: $denim;
      }
    }
  }
}
.selectedCategory {
  font-weight: bold;
  p {
    border-bottom: 3px double $denim;
  }
}

.menu-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1em;
}
.menu-item {
  margin: 0 0 1em 2em;
  flex-grow: 1;
  min-width: 70px;
  max-width: 85px;
  outline: none;
  &:hover {
    color: $denim;
    div {
      transform: rotate(5deg);
      filter: invert(33%) sepia(57%) saturate(285%) hue-rotate(152deg)
        brightness(96%) contrast(86%);
    }
  }
  &:active {
    div {
      transform: scale(0.95) rotate(5deg);
    }
  }
  p {
    padding-top: 0.5em;
    text-align: center;
  }
}
