@import "src/styles/variables.scss";

.same-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.order {
  .same-row:nth-child(2n -1) {
    background: rgba($grey, 0.1);
  }

  .order-item {
    cursor: pointer;
    transition: background 200ms;
    user-select: none;

    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: rgba($denim, 0.9);
      transform: translateX(101%);
      transition: transform 250ms ease-in-out;
    }
    &:hover {
      &::after {
        transform: translateX(0%);
      }
    }
  }
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
}
.btn {
  display: block;
  width: 100%;
  font-size: 2em;
  padding: 0.5em;
  background: none;
  color: $denim;
  border: 2px solid $denim;
  transition: background 200ms, color 200ms;
  &:hover {
    background: $denim;
    color: $white;
  }
  &:active {
    box-shadow: inner -2px -2px 3px $grey;
  }
}
