@import "src/styles/variables.scss";

.sameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order {
  div {
    cursor: pointer;
    transition: transform 200ms;
    user-select: none;
    &:hover {
      transform: translateX(0.5em);
      color: $denim;
    }
  }
}
