@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway&display=swap");

$white: #f8f8f8;
$black: #0d0d0d;
$grey: #262626;
$light-gray: #bfc0c4;
$denim: #436573;
$reddish: #bf4c41;

$background-color: $white;
$text-color: $grey;
$primary: $denim;
$accent2: $reddish;

$margin-min: 0 1em;
$margin-sm: 0 6vw;
$margin-md: 0 12vw;
$margin-lg: 0 18vw;
$margin-xlg: 0 22vw;

@mixin sm-screen {
  @media (min-width: 420px) {
    @content;
  }
}

@mixin md-screen {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin lg-screen {
  @media (min-width: 950px) {
    @content;
  }
}

@mixin xlg-screen {
  @media (min-width: 1300px) {
    @content;
  }
}
