@import "src/styles/variables.scss";

* {
  box-sizing: border-box;
}
body {
  background: $background-color;
  min-height: 100vh;
  color: $text-color;
  font-family: "Raleway", sans-serif;
}
p {
  text-align: justify;
}
a {
  text-decoration: none;
  color: $primary;
}
hr {
  margin: 0;
}

.layout {
  position: relative;
  min-height: 100vh;

  margin: $margin-min;
  @include sm-screen {
    margin: $margin-sm;
  }
  @include md-screen {
    margin: $margin-md;
  }
  @include lg-screen {
    margin: $margin-lg;
  }
  @include xlg-screen {
    margin: $margin-xlg;
  }
}

.under-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 67px);
  a {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.page-content {
  h1 {
    margin: 0.5em 0;
    color: $light-gray;
    text-shadow: 1px 0px 1px $text-color;
  }
  p {
    margin-bottom: 0.5em;
  }
}

.footer {
  padding: 0.5em 0;
  border-top: 3px double $primary;
}
