@import "src/styles/variables.scss";

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 67px;
  border-bottom: 3px double $primary;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Alfa Slab One", cursive;
  }
}

.list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  width: 100%;
  background: $background-color;
  border-bottom: 3px double $primary;

  list-style: none;
  transition: transform 300ms;
  transform: translateX(-200%);
}
.list-on {
  transform: translateX(0%);
}

.nav-item {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: $primary;
  padding: 0.5em;
}
.active {
  transform: translateX(1em);
  &::before {
    position: absolute;
    content: "";
    left: -0.7em;
    top: 50%;
    transform: translateY(-50%);
    border-left: 0.8em solid $primary;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-right: 1em solid transparent;
  }
}

.nav-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 11;

  width: 1.5em;
  height: 1.5em;
  background: none;
  border: none;
  // outline: none;
  font-size: 2em;
  font-weight: bold;
  color: $primary;
  p {
    pointer-events: none;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "X";
    color: $background-color;
    background: $primary;
    transform: translateX(100%);
    transition: transform 300ms;
  }
}
.btn-list-on::before {
  transform: translateX(0%);
}
